<!-- templates/add_listing.html -->

{% extends "airbnb_op_layout.html" %}{% block content %}

<!-- Main -->
<div id="main" class="alt">

<!-- Header -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h1>New Listings</h1>
            </header>

<!-- Content -->
    <h2 id="content"></h2>
        <p>Fill out the form and submit to add a new listing for {{ user.name }}!</p>	
        
        <form action="/listings/create" method="POST">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <label>Listing Name:</label>
                    <input type="text" name="name" placeholder="Listing Name">
                </div>	
                    
 
                <div class="col-6 col-12-xsmall">
	
		  <label>City:</label>
		  <select id="city" name="city">
		    <option disabled selected value> -- select an option -- </option>
		    {% for city in cities %}
		    <option value="{{city}}">{{city}}</option>
		    {% endfor %}
		  </select>
		  </div>

                <div class="col-6 col-12-xsmall">
		  <label>Neighborhood:</label>
		  <select id="neighborhood" name="neighborhood">
		    <option disabled selected value> -- select an option -- </option>
		  </select>
		</div>

                <div class="col-6 col-12-xsmall">
		  <label>Property Type:</label>
		  <select name="property_type">
		    <option disabled selected value> -- select an option -- </option>
		    {% for property_type in property_types %}
		    <option value="{{property_type}}">{{property_type}}</option>
		    {% endfor %}
		  </select>
		</div>

                <div class="col-6 col-12-xsmall">
		  <label>Room Type:</label>
		  <select name="room_type">
		    <option disabled selected value> -- select an option -- </option>
		    {% for room_type in room_types %}
		    <option value="{{room_type}}">{{room_type}}</option>
		    {% endfor %}
		  </select>
		</div>

                <div class="col-6 col-12-xsmall">
		  <label>Minimum Nights:</label>
		  <input type="number" style="background-color: transparent" name="minimum_nights" placeholder="1" value="1">
		</div>

                <div class="col-6 col-12-xsmall">
		  <label>Days available in a year (0-365):</label>
		  <input type="number" style="background-color: transparent" name="availability_365" placeholder="365" value="365">
		</div>
		
                <div></div>
		
                <ul class="actions">
                  <li><button style="vertical-align: -40px;" name="user_id" value={{ user.id }} class="button primary">Submit</button></li>
                </ul>
		
            </div>
</form>
</div></section></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
	</script>
<script type="text/javascript">
  $("document").ready(function(){
    // Map your choices to your option value
    var lookup = {{ city_neigh | safe }};

    function render_neigh(selectValue) {

	var neighs = lookup[selectValue];

	// Empty the target field
        $('#neighborhood').empty();

	// For each chocie in the selected option
        for (i = 0; i < neighs.length; i++) {
            // Output choice in the target field
            $('#neighborhood').append("<option value='" + neighs[i] + "'>" + neighs[i] + "</option>");
        }
    }

      
    // When an option is changed, search the above for matching choices
    $('#city').on('change', function() {

        // Set selected option as variable
        var selectValue = $(this).val();

        console.log(selectValue)

        render_neigh(selectValue)
    });
  });
</script>
{% endblock %}


