<!-- templates/add_listing.html -->

{% extends "airbnb_op_layout.html" %} {% block content %}

<h1>New Listing Page</h1>

<p>Please fill out the form and submit to add a new listing for {{ user.name }}!</p>

<form action="/listings/create" method="POST">

    <label>Name:</label>
    <input type="text" name="name" placeholder="Listing Name">

    <label>Location:</label>
    <!-- <input type="text" name="location" placeholder="Location" value="Location"> -->

    <select name="city">
        <option disabled selected value> -- select an option -- </option>
        {% for city in cities %}
        <option value="{{city}}">{{city}}</option>
        {% endfor %}
    </select>

    <label>Property Type:</label>
    <!-- <input type="text" name="property_type" placeholder="property type" value="property_type"> -->
    <select name="property_type">
        <option disabled selected value> -- select an option -- </option>
        {% for property_type in property_types %}
        <option value="{{property_type}}">"{{property_type}}"</option>
        {% endfor %}
    </select>

    <label>Room Type:</label>
    <!-- <input type="text" name="room_type" placeholder="room_type" value="room_type"> -->
    <select name="room_type">
        <option disabled selected value> -- select an option -- </option>
        {% for room_type in room_types %}
        <option value="{{room_type}}">"{{room_type}}"</option>
        {% endfor %}
    </select>

    <label>Minimum Nights:</label>
    <input type="number" name="minimum_nights" placeholder="1" value="1">

    <label>Availability 365 :</label>
    <input type="number" name="availability_365" placeholder="365" value="365">

    <button name="user_id" value={{ user.id }}>Submit</button>
</form>
{% endblock %}