<!-- templates/add_user.html -->

{% extends "airbnb_op_layout.html" %}{% block content %}

<!-- Main -->
    <div id="main" class="alt">
        <!-- One -->
            <section id="one">
                <div class="inner">
                    <header class="major">
                        <h1>New Users</h1>
                    </header>

                    <!-- Content -->
                        <h2 id="content"></h2>
                        <p>Let's get started! Please enter a username.</p>								                          
                            <form action="/users/create" method="POST">
                                <div class="row gtr-uniform">
                                    <div class="col-12">                                        
                                        <input type="text" name="name" placeholder="Username" value="User ID">
                                    </div>										
                                </div>
                            </form>																					
                </div>
            </section>
    </div>

{% endblock %}