<!-- templates/edit_listing.html -->

{% extends "airbnb_op_layout.html" %} {% block content %}

<h1>Edit Listing Page</h1>

<p>Please edit the listing and submit!</p>

<form action="/listings/modify" method="POST">

    <label>Name:</label>
    <input type="text" name="name" placeholder={{ listing[ 'name'] }} value={{ listing[ 'name'] }}>

    <label>City:</label>
    <!-- <input type="text" name="location" placeholder="Location" value="Location"> -->

    <select id="city" name="city">
        {% for city in cities %}
            {% if city == listing['city' ]%}
                <option value="{{city}}" selected>{{city}}</option>
            {% else %}
                <option value="{{city}}">{{city}}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label>Neighborhood:</label>
    <select id="neighborhood" name="neighborhood">
        <option disabled selected value> -- select an option -- </option>
    </select>

    <label>Property Type:</label>
    <select name="property_type">
        {% for property_type in property_types %}
            {% if property_type == listing['property_type'] %}
                <option value="{{property_type}}" selected >{{property_type}}</option>
            {% else %}
                <option value="{{property_type}}">{{property_type}}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label>Room Type:</label>
    <select name="room_type">
        {% for room_type in room_types %}
            {% if room_type == listing['room_type'] %}
                <option value="{{room_type}}" selected >{{room_type}}</option>
            {% else %}
                <option value="{{room_type}}">{{room_type}}</option>
            {% endif %}
        {% endfor %}
    </select>


    <label>Minimum Nights:</label>
    <input type="number" name="minimum_nights" placeholder={{ listing[ 'minimum_nights'] }} value={{ listing[ 'minimum_nights'] }}>

    <label>Availability 365 :</label>
    <input type="number" name="availability_365" placeholder={{ listing[ 'availability_365'] }} value={{ listing[ 'availability_365'] }}>

    <input type="hidden" name="user_id" value={{ listing[ 'user_id'] }}>

    <button name="id" value={{ listing[ 'id'] }}>Submit</button>
</form>

<script type="text/javascript">
    $("document").ready(function() {
        // Map your choices to your option value
        var lookup = {{ city_neigh | safe }};
        var listing_neigh = "{{ listing['neighborhood'] }}"

        function render_neigh(selectValue) {

            var neighs = lookup[selectValue];

            console.log(selectValue)
                // Empty the target field
            $('#neighborhood').empty();

            // For each chocie in the selected option
            for (i = 0; i < neighs.length; i++) {
                // Output choice in the target field
                selected = ""
                if (neighs[i] == listing_neigh)
                    selected = "selected"
                $('#neighborhood').append("<option value='" + lookup[selectValue][i] + "'" + selected + ">" + lookup[selectValue][i] + "</option>");
            }
        }
        console.log(lookup)
        console.log(listing_neigh)

        var selectValue = $('#city').val();
        render_neigh(selectValue)
            // When an option is changed, search the above for matching choices
        $('#city').on('change', function() {

            // Set selected option as variable
            var selectValue = $(this).val();
            render_neigh(selectValue)
        });
    });
</script>
{% endblock %}
