<!-- templates/edit_listing.html -->

{% extends "airbnb_op_layout.html" %}{% block content %}

<!-- Main -->
<div id="main" class="alt">

    <!-- Header -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Edit Listings</h1>
                </header>

    <!-- Content -->
        <h2 id="content"></h2>
            <p>Edit the listings and submit</p>	
            
            <form action="/listings/modify" method="POST">

            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                        <label>Listing Name:</label>
                        <input type="text" name="name" placeholder={{ listing[ 'name'] }} value={{ listing[ 'name'] }}>	
                </div>

                <div class="col-6 col-12-xsmall">	
                    <label>Location:</label>
                    <select name="location">
                        <option disabled selected value><li>{{ listing['location'] }}</li></option>
                        <option value="New York City">New York City</option>
                        <option value="Los Angeles">Los Angeles</option>
                    </select>
                </div>
            
                <div class="col-6 col-12-xsmall">
                    <label>Property Type:</label>
                    <select name="property_type">
                        <option disabled selected value><li>{{ listing['property_type'] }}</li></option>
                        <option value="Apartment">Apartment</option>
                        <option value="House">House</option>
                        <option value="Condominium">Condominium</option>
                        <option value="Townhouse">Townhouse</option>
                        <option value="Loft">Loft</option>
                    </select>
                </div>

                <div class="col-6 col-12-xsmall">
                    <label>Room Type:</label>
                    <select name="room_type">
                        <option disabled selected value><li>{{ listing['room_type'] }}</li></option>
                        <option value="Entire home/apt">Entire home/apt</option>
                        <option value="Private room">Private room</option>
                        <option value="Shared room">Shared room</option>
                    </select>
                </div>
            
                <div class="col-6 col-12-xsmall">
                    <label>Min Nights:</label>
                    <input type="number" name="min_nights" placeholder={{ listing[ 'min_nights'] }} value={{ listing[ 'min_nights'] }}>
                </div>
                
                <input type="hidden" name="user_id" value={{ listing[ 'user_id'] }}>
            

                <ul class="actions">
                    <li><button style="vertical-align: -40px;" name="id" value={{ listing[ 'id'] }} class="button primary">Submit</button></li>
                </ul>
            
            </form>

{% endblock %}