<!-- templates/users.html -->

{% extends "airbnb_op_layout.html" %}


{% block content %}

<!-- Main -->
<div id="main" class="alt">

    <!-- Header -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>Users and Listings</h1>
        </header>
	
        <!-- Content -->									
        {% if users %}
        <ol>
          {% for user in users %}
          <li>{{ user['name'] }}
            <ol>
              {% for listing in (user['listings']|sort(reverse=true,attribute='id'))[:5] %}
              <li>{{ listing['name'] }}
                <ul>
		  {% for elem in ['city', 'neighborhood','property_type','room_type', 'minimum_nights','price'] %}
                  <li> {{ listing[elem] }}</li>
                  {% endfor %}
		  
                </ul>
                <form action="/listings/edit" method="POST">
                  <button name="listing" value={{ listing[ 'id'] }}>Edit Listing</button>
                </form>
                <form action="/listings/delete" method="POST">
                  <button name="listing" value={{ listing[ 'id'] }}>Delete Listing</button>
                </form>
              </li>
              {% endfor %}
            </ol>
            <form action="/listings/add" method="POST">
              <button name="user" value={{ user[ 'id']}}>Add Listing</button>
            </form>
          </li>
          {% endfor %}
        </ol>
	
        {% else %} 
        <p>Users not found.</p>
        {% endif %}
	
        <form action="/listings/update" method="POST">
          <button>Update Listings</button>
        </form>
	
      </div>
    </section>
    
</div>

{% endblock %}
