<!DOCTYPE HTML>

<!-- templates/users.html -->

<html>
	<head>
		<title>Users Page - AirMoneyB</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="users.html" class="logo"><strong>Air</strong><span>Money</span><strong>B</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="users.html">Home</a></li>
							<li><a href="landing.html">Landing</a></li>
							<li><a href="generic.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
						<!-- <ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul> -->
					</nav>
        
        <!-- Main -->
					<div id="main" class="alt">

						<!-- Header -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Users and Listings</h1>
									</header>

									<!-- Content -->									
                                        if users
                                        <ol>
                                            for user in users
                                            <li>{{ user['name'] }}
                                                <ol>
                                                    for listing in (user['listings']|sort(reverse=true,attribute='id'))[:5]
                                                    <li>{{ listing['name'] }}
                                                        <ul>
                                                            <li>{{ listing['location'] }}</li>
                                                            <li>{{ listing['property_type'] }}</li>
                                                            <li>{{ listing['room_type'] }}</li>
                                                            <li>{{ listing['min_nights'] }}</li>
                                                            <li>{{ listing['price'] }}</li>
                                                        </ul>
                                                        <form action="/listings/edit" method="POST">
                                                            <button name="listing" value={{ listing[ 'id'] }}>Edit Listing</button>
                                                        </form>
                                                        <form action="/listings/delete" method="POST">
                                                            <button name="listing" value={{ listing[ 'id'] }}>Delete Listing</button>
                                                        </form>
                                                    </li>
                                                    
                                                </ol>
                                                <form action="/listings/add" method="POST">
                                                    <button name="user" value={{ user[ 'id']}}>Add Listing</button>
                                                </form>
                                            </li>
                                           
                                        </ol>

                                        else 
                                        <p>Users not found.</p>
                                        {% endif %}

                                        <form action="/listings/update" method="POST">
                                            <button>Update Listings</button>
                                        </form>

                                </div>
                            </section>

                    </div>
                    
				<!-- Footer -->
                <footer id="footer">
                    <div class="inner">
                        <ul class="icons">
                            <li><a href="https://github.com/AirBnB-tt-204/air-money-b" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                        </ul>
                        <ul class="copyright">
                            <li>&copy; Copyright 2021 </li><li>AirMoneyB: Temsy Chen, Srini Nariangadu, Paul Teeter and Jose Urena </a></li><li>HTML Design: <a href="https://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </footer>